* {
	box-sizing: border-box;
}

body {
	background: url(//subtlepatterns.com/patterns/scribble_light.png);
  font-family: Calluna, Arial, sans-serif;
  min-height: 1000px;
}
header {
	display: flex;
	flex-direction: column;
	padding: 0 30px 30px;
}

#wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-flow: row wrap;
	flex-direction: row-reverse;
}
figure {
	width: 25%;
	border-radius: 10px;
	background: black;
	margin: 0 4px 15px;
	transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}

figure img {
	width: 100%; height: auto;
	border-radius: 5px;
}

.caption {
	color: white;
  	text-align: center;
	position: relative;
  	bottom: 50px;
	visibility: hidden;
}



figure:hover {
	opacity: 0.8;

}

@media screen and (max-width: 750px) {
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}

.popup {
	position: fixed;
	top: 20%;
	left: 20%;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 10px;
	align-items: center;
}

.popup img {
	width: 300px;
}

.x {
	position: absolute;
	top: 0;
	right: 0;

}

form {
	display: flex;
	justify-content: space-around;
}




#load-more-btn {
	display: block;
	position: fixed;
	bottom: 0;
	left: 650px;
}
