.animals-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 75vh;
    align-items: space-between;
}

.animal {
    width: 250px;
    height: 200px;
    list-style: none;
    font-size: 2rem;
    font-weight: bold;
    border: 3px solid black;
}

.animal:hover {
    cursor: pointer;
    background: violet;
}
